<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Challenges</key>
	<array>
		<dict>
			<key>title</key>
			<string>Logic Challenges</string>
			<key>challenges</key>
			<array>
				<dict>
					<key>title</key>
					<string>Light Switches</string>
					<key>description</key>
					<string>Description will go here</string>
					<key>imageName</key>
					<string>lightSwitches</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
